.App {
  text-align: center;
}

.center {
  text-align: center;
}

.gmail {
  cursor: pointer;
}

.delgado {
  font-weight: 200;
}

.border {
  background-color: #2dd33b;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.border h3 {
  color: black;
}

.red {
  color: red;
}

.blue {
  color: rgb(144, 42, 153);
}

img {
  max-width: 100px;
margin-top: 2%;
border-radius: 50px;
}

.button {
  background-color: #2dd33b;
  color: white;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: #26b131;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}